<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgcity.mode.home">

    <application android:theme="@style/AppBaseThemeWithWindowIsTranslucent">
        <activity android:name=".testweb.TestWebActivity"/>
    </application>

</manifest>