<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgcity.launch">

    <application>
        <activity
            android:name=".guide.GuideActivity"
            android:theme="@style/LauncherTheme" />
    </application>

</manifest>